header {
    position: absolute;
width: 1600px;
height: 80px;
left: 0px;
top: 0px;
background: #FFFFFF;
}
#header_logo{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;


}
.logo-1 {
    
    color: #2196F3;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;

}
.logo-2{

    color:black
    position: absolute;
    width: 145px;
}
